<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Базовая запись Bosch CISS</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      
      @if(connectionStatus === ConnectionStatus.disconnected) {
        @if(COMPort > 0) {
          Устройство найдено на <span class="badge text-bg-success">COM{{COMPort}}</span>
        } @else {
          Устройство не найдено
        }
      } @else if(connectionStatus === ConnectionStatus.connecting) {
        Подключение к устройству...
      } @else if(connectionStatus === ConnectionStatus.connected) {
        <span class="text-success">Идет запись...</span>
      }
      
    </p>
    <div class="text-start mb-4">
      <div class="mb-3">
        <label class="form-label">Название записи</label>
        <input type="text" class="form-control" [(ngModel)]="nameInput" placeholder="example-recording">
      </div>
      <div >
        <label class="form-label">Длина записи (в секундах)</label>
        <input type="number" min="1" class="form-control" [(ngModel)]="secondsInput"/>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button [disabled]="COMPort<=0" (click)="onClickCaptureBtn()" type="button" class="btn btn-primary btn-lg px-4 gap-3">Тестовая запись</button>
      <button [disabled]="connectionStatus != ConnectionStatus.disconnected" type="button" (click)="onClickUpdateBtn()" class="btn btn-secondary btn-lg px-4">Обновить</button>
    </div>
  </div>
</div>
