<div class="container pt-3">
  <h1>Отладочная консоль Bosch</h1>
  <div class="mt-3 mb-3">
    <div class="mb-3 row">
      <label class="form-label col-auto col-form-label">Подключиться к датчику</label>
      <div class="input-group col">
        <span class="input-group-text" id="basic-addon1">COM</span>
        <input [disabled]="connectionStatus != ConnectionStatus.disconnected" [(ngModel)]="COMPort" type="number"
          min="1" class="form-control" placeholder="0" />
        @if (connectionStatus === ConnectionStatus.connected) {
        <button (click)="onClickDisconnectBtn()" type="button" class="btn btn-danger">Отключиться</button>
        } @else {
        <button [disabled]="connectionStatus != ConnectionStatus.disconnected" (click)="onClickConnectBtn()"
          type="button" class="btn btn-primary">Подключиться</button>
        }
      </div>
    </div>
  </div>
  <div class="badge text-bg-secondary" [class]="{
    'text-bg-success': connectionStatus === ConnectionStatus.connected,
    'text-bg-warning': connectionStatus === ConnectionStatus.connecting ||
    connectionStatus === ConnectionStatus.disconnecting,
    'text-bg-danger': connectionError
  }">
    @if (connectionError) {
    Ошибка подключения
    } @else if (connectionStatus === ConnectionStatus.disconnected) {
    Ожидает соединения
    } @else if (connectionStatus === ConnectionStatus.disconnecting) {
    Отключение...
    }@else if(connectionStatus === ConnectionStatus.connected) {
    Соединение установлено
    } @else if(connectionStatus === ConnectionStatus.connecting) {
    Подключение...
    }
  </div>
  <div class="mt-2">
    <form class="mb-3">
      <div class="input-group">
        <input class="form-control" id="command" [disabled]="connectionStatus != ConnectionStatus.connected" type="text"
          placeholder="> ..." [(ngModel)]="command" />
        <button [disabled]="connectionStatus != ConnectionStatus.connected" (click)="onClickSendBtn()" type="submit"
          class="btn btn-primary">Отправить</button>
      </div>
    </form>
    <form class="mb-3">
      <textarea class="form-control" id="logBuffer" readonly [disabled]="connectionStatus != ConnectionStatus.connected"
        [(ngModel)]="logBuffer" [rows]="logAreaRows"></textarea>
    </form>
  </div>
</div>
